/* page container styles */
.page-container {
  padding: 50px;
}

.dashboard-title {
  text-align: center;
  margin-bottom: 50px;
}

.transaction-count {
  margin-bottom: 50px;
  color: #666;
  font-size: 0.9rem;
}